<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="DB" connectionString="Data Source=SQL5070.site4now.net;Initial Catalog=db_a7e772_smart;User Id=db_a7e772_smart_admin;Password=smart@2022;Integrated Security=false" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="9999" maxRequestLength="104857600" enable="true"/>
  </system.web>

</configuration>
